#mainDiv {
    height: 45vh;
    margin: 0;
    padding: 0;
    top: 0;
}

.bg-div {
    background-image: url('./Images/first.jpg');
    height: 45vh;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    background-size: cover;
}

.to {
    font-size: larger;
    font-weight: 800;
    font-family: sans-serif;
}

#form-div {
    position: relative;
    top: 7rem;
    opacity: 70%;
    display: block;
    border: 0.5rem;
    border-color: aliceblue;
    border-style: solid;
}

#buttonSub {
    align-self: center;
    align-items: center;
}
